{% extends "base.html" %}

{% block content %}
<h1>Shopping Cart</h1>
<div class="container">
    <table>
        <thead>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Update</th>
            <th>Delete</th>
        </thead>
        <tbody>

            {% for key, product in session['shoppingcart'].items() %}
            <tr>
                <td>{{loop.index}}</td>
                <td><img src="{{url_for('static', filename='productpics/' + product.image)}}" alt="{{product.name}}"
                        width="60" , height="60"></td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                {% set subtotal = product.quantity|int * product.price|float %}
                <td>{{ subtotal }}</td>
                <td><a href="#" class="btn">Update</a></td>
                <td><a href="#" class="btn">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <tr>
            <td><a href="{{ url_for('products.products') }}">Continue Shopping</a></td>
            <td width="46%"></td>
            <td>Tax ${{ tax }}</td>
            <td>
                <h4>Total ${{ estimated }}</h4>
            </td>
        </tr>
    </table>

    <div class="checkout">
        <a href="{{ url_for('orders.checkout')}}">
            <h2> Go to Checkout</h2>
        </a>

    </div>


</div>
{% endblock %}