{% extends "base.html" %}

{% block content %}

<!-- <<<<<<< HEAD
<h1 id="mycart">My Cart</h1>
<div class="cart_pg">

<h1>Shopping Cart</h1>

<!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %} -->

<div class="checkout">
    <div class="checkout_contents">
        <a href="{{ url_for('orders.checkout')}}">Checkout</a>
    </div>
</div>
</div>
</div>
<h4 id="Suggesteditems">Suggested Items</h4>

<h1 id="cart_header">Shopping Cart</h1>
<div class="container">
    <div class="top_row">
        <div class="cart_contents">
            <table class="table_contents">
                <!-- <thead>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Update</th>
                    <th>Delete</th>
                </thead> -->
                <tbody>

                    {% for key, product in session['shoppingcart'].items() %}
                    <tr>
                        <!-- <td>{{loop.index}}</td> -->
                        <td><img src="{{url_for('static', filename='productpics/' + product.image)}}"
                                alt="{{product.name}}" width="60" , height="60"></td>
                        <td>{{product.name}}</td>
                        <form action="{{ url_for('orders.updatecart', code=key) }}" method="post">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <td>${{product.price}}</td>
                            <td><input type="number" name="quantity" min="1" max="10" value="{{product.quantity}}"
                                    class="quantbtn"></td>
                            {% set subtotal = product.quantity|int * product.price|float %}
                            <td>${{ subtotal|round(2) }}</td>
                            <td><input type="submit" value="Update" class="updatebtn"></td>
                        </form>
                        <td><a href="{{url_for('orders.deletecartitem', id=key )}}" class="btn">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="summary_table">
                <table>
                    <tr>
                        <td><a href="{{ url_for('home') }}" class="small_btn">Continue Shopping</a></td>
                        <!-- <td width="31%"></td> -->
                        <td>Tax ${{ tax }}</td>
                        <td>
                            <h4>Total ${{ estimated }}</h4>
                        </td>
                        <td width="15%"><a href="{{ url_for('orders.clearcart') }}" class="btn">Clear Cart</a></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="order_summary">
            <h3> Order Summary</h3>
            <a href="{{ url_for('orders.checkout')}}">
                <h2>Checkout</h2>
            </a>
        </div>

        <div class="container">
            <table>
                <thead>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Update</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    {% for key, product in session['shoppingcart'].items() %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><img src="{{ url_for('static', filename='productpics/' + product.image) }}"
                                alt="{{ product.name }}" width="60" height="60"></td>
                        <td>{{ product.name }}</td>
                        <form action="{{ url_for('orders.updatecart', code=key) }}" method="post">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <td>${{ product.price }}</td>
                            <td><input type="number" name="quantity" min="1" max="10" value="{{ product.quantity }}">
                            </td>
                            {% set subtotal = product.quantity|int * product.price|float %}
                            <td>${{ subtotal|round(2) }}</td>
                            <td><input type="submit" value="Update"></td>
                        </form>
                        <td><a href="{{ url_for('orders.deletecartitem', id=key) }}" class="btn">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table>
                <tr>
                    <td><a href="{{ url_for('home') }}">Continue Shopping</a></td>
                    <td width="31%"></td>
                    <td width="15%"><a href="{{ url_for('orders.clearcart') }}" class="btn">Clear Cart</a></td>
                    <td>Tax ${{ tax }}</td>
                    <td>
                        <h4>Total ${{ estimated }}</h4>
                    </td>
                </tr>
            </table>

            <div class="checkout">
                <a href="{{ url_for('orders.checkout') }}">
                    <h2> Go to Checkout</h2>
                </a>

            </div>

        </div>

        {% endblock %}