{% extends "base.html" %}

{% block content %}
<h1>Customers</h1>

<table>
    <thead>
        <tr>
            <th scope="col" width="20">ID</th>
            <th scope="col" width="90">Name</th>
            <th scope="col" width="90">Phone</th>
            <th scope="col" width="90">Email</th>
            <th scope="col" width="40">History</th>
            <th scope="col" width="70">Options</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.email }}</td>
            <td>
                <!-- This is a link to the customer_detail page -->
                <a href="{{ url_for('users.user_detail', user_id=user.id) }}" class="btn">View</a>
            </td>
            <td>
                <a href="/users/{{user.id}}/update" class="btn">Edit</a>
                <a href="/users/{{user.id}}/delete" class="btn"
                    onclick="return confirm('Are you sure to delete?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}