<!-- <!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <div>

            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('products.products') }}">Products</a>
            <a href="{{ url_for('orders.cart') }}">Cart</a>
            <a href="{{ url_for('supports.supports') }}">Support</a>

            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('auth.login') }}">Login</a>

            {% elif current_user.is_authenticated and not current_user.is_admin %}
            <a href="{{ url_for('users.profile') }}">Profile</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>

            {% elif current_user.is_authenticated and current_user.is_admin %}
            <a href="{{ url_for('admin.admin') }}">Dashboard</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}



        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html> -->