{% extends "base.html" %}

{% block content %}
<div class="container-center">
    <div class="table-header">
        <h1>Order details</h1>
    </div>
    <table class="profile-table">
        <tr>
            <th width="40%">ProductID</th>
            <th width="50%">Name</th>
            <th width="100%">Quantity</th>
            <!-- <th width="100%">Price</th> -->
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order.product_id }}</td>
            <td>{{ order.product.name }}</td>
            <td>{{ order.quantity }}</td>

            <!-- <td>${{ order.product.price|round(2) }}</td> -->
        </tr>

        {% endfor %}
    </table>
    <a href="{{ url_for('users.profile') }}" class="btn">Go Back</a>
</div>
{% endblock %}