{% extends "base.html" %}
{% block content %}

<h1>Product detail</h1>
<img src="{{ url_for('static', filename='productpics/' ~ product.name ~ '.jpg')}}"> 
<ul>
    <li>
        <span>Name: {{ product.name }}</span>
    </li>
    <li>
        <span>Price: ${{ product.price|round(2) }}</span>
    </li>
    <li>
        <span>Product ID: {{ product.id }}</span>
    </li>
    <li>
        <span>Stock: {{ product.available }}</span>
    </li>

{% if not current_user.is_admin %}
    <li>
        <form action="" method="post">
            <button type="submit" value="{{ product.name }}" class="btn">Add to Cart</button>
        </form>
    </li>
{% endif %}
{% endblock %}