{% extends "base.html" %}

{% block content %}


<h1>Enjoy your Shopping</h1>


<!-- category -->
<div class="category">
    <p>Categories</p>
    {% for category in categories %}
    <a href="{{url_for('products.getcategory', id=category.id)}}">
        <h3>{{ category.name }}</h3>
    </a>
    {% endfor %}
</div>

{% if category_items %}
<div class="row">
    {% for c in category_items %}
    <div class="column">
        <img src="{{url_for('static', filename='productpics/' + c.photo)}}" alt="{{c.name}}">
        <div class="card">
            <div class="info">
                <h3>{{c.name}}</h2>
                    <p>${{c.price}}</p>
            </div>
            <div class="options">
                <form action="{{ url_for('orders.addcart') }}" method="post">
                    <div><label for="">Qty: </label><input style="width: 50px;" type="number" name="quantity" value="1"
                            min="1" max="{{ c.quantity }}">
                        <input type="hidden" name="c_id" value="{{ c.id }}">
                        <input type="submit" value="Add to Cart">
                    </div>
                </form>
                <a href="{{url_for('products.productdetail', id=c.id)}}" class="btn">Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<!-- category end -->

<div class="row">
    {% for product in products %}
    <div class="column">
        <img src="{{url_for('static', filename='productpics/' + product.photo)}}" class="productpic thumbnail"
            alt="{{product.name}}">
        <div class="card">
            <div class="info">
                <h3>{{ product.name }}</h2>
                    <p>${{ product.price|round(2) }}</p>
            </div>
            <div class="options">
                <form action="{{ url_for('orders.addcart') }}" method="post">
                    <div><label for="">Qty: </label><input style="width: 50px;" type="number" name="quantity" value="1"
                            min="1" max="{{ product.available }}">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <input type="submit" value="Add to Cart">
                    </div>
                </form>
                <a href="{{ url_for('products.product_detail', productname=product.name)}}" class="btn">Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}