{% extends "base.html" %}

{% block content %}
<section class="profile_pg">
  <h1 class="title">
    Welcome, {{ user.name }}
  </h1>

  <div class="profile_nav">
    <!-- code for left navigatoin bar -->
    <!-- <div class="leftNav ">
      <div id="profile_photo">
        <img src="{{ url_for('static', filename='./productpics/user.jpg') }}" alt="User Profile">
      </div>
      <ul>
        <li>
          <a href="">My Account</a>
        </li>
        <li>
          <a href="">Change Password</a>
        </li>
        <li>
          <a href="">Address</a>
        </li>
        <li>
          <a href="">Payment Information</a>
        </li>
        <li>
          <a href="">My Orders</a>
        </li>
        <li>
          <a href="">Sign Out</a>
        </li>
      </ul>
    </div> -->

    <!-- code for right navigatoin bar. Now in center of the page -->
    <div class="rightNav">
      <ul>
        <li>First Name</li>
        <li class="box">{{ user.name }}</li>
        <!-- <li>Last Name</li>
        <li class="box">lastname</li> -->
        <!-- <li>Date of Birth</li>
        <li class="box">MMDDYYYY</li> -->
        <li>Email Address</li>
        <li class="box">{{ user.email }}</li>
        <li>Phone Number</li>
        <li class="box">{{ user.phone }}</li>
      </ul>
      <a href="{{ url_for('users.update_user', user_id=user.id)}}"><button class="PButton">Edit Profile</button></a>
    </div>
  </div>
  <div class="profile-order-history">
    {% if histories %}
    <h1>My Orders</h1>
    <table>
      <tr>
        <th>Order_ID</th>
        <th>Created</th>
        <th>Details</th>
      </tr>
      {% for history in histories %}
      <tr>
        <td>{{ history.id }}</td>
        <td>{{ history.created }}</td>
        <td><a href="{{ url_for('orders.orderdetails', id=history.id)}}">Details</a></td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>
</section>



{% endblock %}