:root {
  --font-color: #0b1f19;
  --light-color: #f1f1f1;
  --background: #ad4d27;
  --bg-variant: #12372a;
  --accent-color: #99b417;

  --white: #f1f1f1;
}

.admin-navigation {
  display: flex;
  align-items: center;
  gap: 15px;
}

.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin-contents {
  padding-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  height: 100%;
}

.admin-left-align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.admin-navigation > h3 {
  color: var(--bg-variant);
}

.admin-navigation a,
.table-header a,
.btn-back {
  color: var(--font-color);
  text-decoration: none;
}

.admin-container a:hover {
  color: var(--accent-color);
}

.stats {
  display: flex;
  flex-direction: column;
}

.stats-contents {
  display: flex;
  gap: 20px;
}

.stats-contents > div > h5 {
  margin-top: 0;
}

.stats-title > h3 {
  color: var(--bg-variant);
}

.dashboard-table {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-collapse: collapse;
  width: 600px;
  border: 1px solid #ddd;
}

.dashboard-table td,
.dashboard-table th {
  /* border: 1px solid #ddd; */

  padding: 8px;
}

.dashboard-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.dashboard-table th {
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: left;
  background-color: var(--bg-variant);
  font-size: 0.8em;
  color: white;
}

.dashboard-table a {
  color: var(--font-color);
  text-decoration: none;
}

.dashboard-table td {
  font-size: 0.9em;
}

.dashboard-table h3 {
  color: var(--bg-variant);
}

.dashboard-tables h3 {
  color: var(--bg-variant);
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-stat {
  display: flex;
  padding: 0px 14px;
  width: 135px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color);
  border: 2px solid var(--light-color);
  gap: 0;
}

.single-stat:hover {
  border: 2px solid var(--accent-color);
}

.transition {
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.single-stat-title {
  text-align: center;
  padding: 9px 0px;
  width: 100%;
  border-bottom: 1px solid var(--font-color);
}
.single-stat-title h5 {
  margin: 0;
}

.admin-customer-board {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.admin-customer-board td,
.admin-customer-board th {
  border: 1px solid #ddd;
  padding: 8px;
}

.admin-customer-board tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin-customer-board tr:hover {
  background-color: #ddd;
}

.admin-customer-board th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

/*
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");



body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  color: var(--font-color);
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
}

nav > div {
  display: flex;
  gap: 10px;
}


a {
  color: var(--font-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

}

.form-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.form-label p {
  font-size: smaller;
  width: 60px;
  margin: 5px;
}

.checkbox {
  margin-top: 15px;
}
.gap {
  margin-right: 23px;
}
.form-label input {
  height: fit-content;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 3px 0;
}


input {
  background-color: transparent;
  font-family: "Roboto Condensed", sans-serif;
  border: 1px solid var(--background);
  padding: 4px 6px;
  border-bottom: 1px solid var(--font-color);
  margin: 0 2px;
  outline: none;
  color: var(--font-color);
}

input:focus {
  background-color: var(--bg-variant);
}

textarea {
  background-color: transparent;
  font-family: "Roboto Condensed", sans-serif;
  border: 1px solid var(--background);
  padding: 6px 6px;
  border: 1px solid var(--font-color);
  margin: 10px 2px;
  outline: none;
  color: var(--font-color);
}

label {
  font-size: smaller;
}

input[type="submit"] {
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  background-color: transparent;
  color: var(--font-color);
  padding: 4px 6px;
  border: 1px solid var(--font-color);
}

input[type="submit"]:hover {
  background-color: var(--bg-variant);
}

.btn {
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size: smaller;
  background-color: var(--bg-variant);
  color: var(--font-color);
  padding: 3px 6px;
  text-decoration: none;
  border: 0;
}

.btn:hover {
  font-weight: 500;
  background-color: var(--font-color);
  color: var(--bg-variant);
}


.make_order {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.make_order label {
  margin-top: 5px;
}
.make_order .button {
  margin-top: 5px;
}

.custom-select {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--bg-variant);
  color: var(--font-color);
  padding: 4px 6px;
}

.custom-select select {
  display: none;
}

.order_options {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.order_status {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size: smaller;
  background-color: var(--bg-variant);
  color: var(--font-color);
  padding: 3px 6px;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.customer_name {
  margin-top: 15px;
  margin-bottom: 0;
}

.btn.processed {
  cursor: not-allowed;
  pointer-events: none;
  background-color: var(--bg-variant-dark);
  color: var(--bg-variant);
}

.btn.pending {
  background-color: var(--bg-variant);
  color: var(--font-color);
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 19px;
}

.productpic {
  width: 500px;
}

.thumbnail {
  border: 1px solid transparent;
  width: 150px;
  padding: 10px;
}

input::file-selector-button {
  border: 0;
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--bg-variant);
  color: var(--font-color);
  padding: 4px 6px;
  margin-right: 5px;
  cursor: pointer;
}
*/
