* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background-color: #ffffff; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 150px;
  background-color: #ffffff;
}

#productbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ad4d27;
}

#productbar a {
  margin: 20px 50px;
  text-decoration: none;
  color: white;
}
/* 
.banner {
  margin-top: 150px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 346px;
  margin-top: 160px;
  z-index: -1;
}
.banner #left {
  background-position: left;
}
.banner #right {
  background-position: right;
} */

.title {
  text-align: center;
}

.center {
  text-align: center;
}

header {
  display: flex;
  border-bottom: 2px solid #ad4d27;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: #ffffff;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  flex-grow: 1;
  display: flex;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icons a,
.icons button {
  margin-left: 10px;
}

.icons img {
  vertical-align: middle;
  height: 24px;
  width: 24px;
}
.icons button,
.icons .button {
  padding: 8px 16px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.icons button:hover,
.icons .button:hover {
  background-color: #4caf50;
}

.categories {
  text-align: center;
  padding: 10px 0;
}

.category-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.category-images img {
  width: 20%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin: 1%;
  border: 2px solid #4caf50;
  object-fit: cover;
}

footer {
  background-color: #87a922;
  color: white;
  padding: 10px;
  display: block;
}
