{% extends "base.html" %}

{% block content %}
<div class="admin-container">

    <div class="admin-navigation">
        <a href="{{ url_for('admin.admin') }}">
            <h3>Admin Dashboard</h3>
        </a>
        <a href="{{ url_for('admin.view_issues') }}">Issues</a>
        <a href="{{ url_for('products.products') }}">Products</a>
        <a href="{{ url_for('admin.category') }}">Category</a>
        <a href="{{ url_for('users.users') }}">Customers</a>
        <a href="{{ url_for('products.additem') }}">Add Product</a>
        <!-- <a href="{{ url_for('admin.stats') }}">Sales Statistics</a> -->
    </div>

    <div class="admin-contents">
        <div class="stats">
            <div class="stats-title">
                <h3>Total Sales</h3>
            </div>
            <div class="stats-contents">
                <div class="single-stat transition">
                    <div class="single-stat-title">
                        <h5>Today</h5>
                    </div>
                    <div>
                        <h3>${{ daily }}</h3>
                    </div>
                </div>
                <div class="single-stat transition">
                    <div class="single-stat-title">
                        <h5>This month</h5>
                    </div>
                    <div>
                        <h3>${{ monthly }}</h3>
                    </div>
                </div>
                <div class="single-stat transition">
                    <div class="single-stat-title">
                        <h5>This year</h5>
                    </div>
                    <div>
                        <h3>${{ yearly }}</h3>
                    </div>
                </div>
                <div class="single-stat transition">
                    <div class="single-stat-title">
                        <h5>Total sales</h5>
                    </div>
                    <div>
                        <h3>${{ total }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="table-header">
                <h3>Issues</h3><a href="{{ url_for('admin.view_issues') }}"><small>More</small></a>
            </div>
            <table class="dashboard-table">
                <tr>
                    <th>ID</th>
                    <th width="60%">Title</th>
                    <th width="100%">Date</th>
                </tr>

                {% for issue in issues %}
                <tr>
                    <td>{{ issue.id }}</td>
                    <td>{{ issue.title }}</td>
                    <td>{{ issue.created }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
        <div>
            <div class="table-header">
                <h3>Products</h3><a href="{{ url_for('products.products') }}"><small>More</small></a>
            </div>
            <table class="dashboard-table">
                <tr>
                    <th>ID</th>
                    <th width="37%">Name</th>
                    <th width="100%">Quantity</th>
                </tr>

                {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.available }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
        <div>
            <div>
                <div class="table-header">
                    <h3>Customer Information</h3> <a href="{{ url_for('users.users') }}"><small>More</small></a>
                </div>
                <table class="dashboard-table">
                    <tr>
                        <th>ID</th>
                        <th width="37%">Name</th>
                        <th width="100%">Email</th>
                    </tr>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>

    </div>
</div>
</div>
{% endblock %}