{% extends "base.html" %}

{% block content %}
<div class="admin-container">

    <div class="admin-navigation">
        <a href="{{ url_for('admin.admin') }}">
            <h3>Admin Dashboard</h3>
        </a>
        <a href="{{ url_for('admin.view_issues') }}">Issues</a>
        <a href="{{ url_for('products.products') }}">Products</a>
        <a href="{{ url_for('admin.category') }}">Category</a>
        <a href="{{ url_for('users.users') }}">Customers</a>
        <a href="{{ url_for('products.additem') }}">Add Product</a>
        <a href="{{ url_for('admin.adminorders') }}">Orders</a>
        <!-- <a href="{{ url_for('admin.stats') }}">Sales Statistics</a> -->
    </div>

    <div class="admin-contents">
        <div class="table-header">
            <h1>Order details</h1>
        </div>
        <table class="profile-table">
            <tr>
                <th width="40%">ProductID</th>
                <th width="50%">Name</th>
                <th width="100%">Quantity</th>
                <!-- <th width="100%">Price</th> -->
            </tr>
            {% for order in orders %}
            <tr>
                <td>{{ order.product_id }}</td>
                <td>{{ order.product.name }}</td>
                <td>{{ order.quantity }}</td>

                <!-- <td>${{ order.product.price|round(2) }}</td> -->
            </tr>

            {% endfor %}
        </table>
        <a href="{{ url_for('admin.adminorders') }}" class="btn">Go Back</a>
    </div>
</div>
{% endblock %}