{% extends "base.html" %}

{% block content %}


<h1>Products(Admin)</h1>

<table>
    <thead>
        <tr>
            <th width="100">Image</th>
            <th width="70">Name</th>
            <th width="50">Price</th>
            <th width="70">Available</th>
            <th width="50">Details</th>
            <th width="90">Options</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td><img src="{{ url_for('static', filename='productpics/' + product.photo)}}" width="70" height="70"
                    class="productpic thumbnail">
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.price|round(2) }}</td>
            <td>{{ product.available }}</td>
            <td>
                <a href="{{ url_for('products.product_detail', productname=product.name)}}" class="btn">View
                </a>
            </td>
            <!-- Only show add to cart button if user is not admin # -->
            {% if not current_user.is_admin %}
            <td>
                <form action="">
                    <button type="submit" value="{{ product.name }}" class="btn">Add to
                        Cart</button>
                </form>
            </td>
            {% endif %}
            <!-- Only Admin can see edit and delete buttons -->
            {% if current_user.is_authenticated and current_user.is_admin %}
            <td><a href="/products/{{product.id}}" class="btn">Edit</a>
                <a href="/products/{{product.id}}/delete" class="btn"
                    onclick="return confirm('Are you sure to delete?')">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>

</table>


{% endblock %}