{% extends "base.html" %}

{% block content %}

<h1>Update Item</h1>
<form action="" method="POST" enctype="multipart/form-data">
    <div class="form-label">
        <p>Category</p>
        <select name="category" id="category" class="custom-select" required>
            <option value="{{ product.category_id }}">{{product.category.name}}</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div class="form-align">
        <div class="form-label">
            <p>Name</p>
            <input type="text" name="name" value="{{product.name}}" required>
        </div>

        <div class="form-label">
            <p>Price</p>
            <input type="text" name="price" value="{{product.price}}" required>
        </div>
        <div class="form-label">
            <p>Quantity</p>
            <input type="text" name="quantity" value="{{product.quantity}}" required>
        </div>
        <div class="form-label">
            <p>Description</p>
            <input type="text" name="description" value="{{product.description}}" required>
        </div><br>
        <div class="form-label">
            <p>Photo</p>
            <input type="file" name="item-photo" value="{{ product.photo }}">
        </div>

        <br>
        <input type="submit" value="Update Item">
</form>

<br>
{% include "messages.html" %}

</div>
{% endblock %}