{% extends "base.html" %}

{% block title %}Home - Green Basket Storefront{% endblock %}

{% block content %}

<!-- <section class="categories">
    <div class="category-header">
        <h2>Shop Categories</h2>
    </div>
    <div class="category-images">
        <img src="{{ url_for('static', filename='./productpics/produce.jpg') }}" alt="Produce">
        <img src="{{ url_for('static', filename='./productpics/meat.jpeg') }}" alt="Meat">
        <img src="{{ url_for('static', filename='./productpics/bread.jpg') }}" alt="Bakery">
        <img src="{{ url_for('static', filename='./productpics/dairy.webp') }}" alt="Dairy">
    </div>
</section> -->



<section class="products" id="products">

    <div class="product-header">
        <h2>Welcome to Green Basket</h2>
    </div>


    <div class="product-list">
        {% for product in products %}
        <div class="product-card">
            <!-- Go to detail page when click image -->
            <a href="{{ url_for('products.product_detail', productname=product.name)}}"><img
                    src="{{url_for('static', filename='productpics/' + product.photo)}}" class="productpic thumbnail"
                    alt="{{product.name}}"></a>
            <h3>{{ product.name }}</h3>
            <p>${{ product.price|round(2) }}</p>
            <div class="options">
                <form action="{{ url_for('orders.addcart') }}" method="post">
                    <div>
                        {% if product.available == 0 %}
                        <br>
                        <strong class="out-of-stock btn">Out of Stock</strong>
                        {% else %}
                        <label for="">Qty: </label><input style="width: 50px;" type="number" name="quantity" value="1"
                            min="1" max="{{ product.available }}">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit">Add to Cart</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}

        <!-- <div class="product-card">
            <img src="{{ url_for('static', filename='./productpics/bananas.jpg') }}" alt="Product Name">
            <h3>Product Name</h3>
            <p>$29.99</p>
            <button>Add to Cart</button>
        </div>
        <div class="product-card">
            <img src="{{ url_for('static', filename='./productpics/lemon.jpg') }}" alt="Product Name">
            <h3>Product Name</h3>
            <p>$39.99</p>
            <button>Add to Cart</button>
        </div>
        <div class="product-card">
            <img src="{{ url_for('static', filename='./productpics/lemon.jpg') }}" alt="Product Name">
            <h3>Product Name</h3>
            <p>$39.99</p>
            <button>Add to Cart</button>
        </div> -->
    </div>
    <div class="about">
        <h2>About Green Basket</h2>
        <p>Hi we are a great team!</p>
    </div>
    <footer>
        (c)Green Basket 2024
    </footer>
</section>

{% endblock %}