{% extends "base.html" %}

{% block content %}
<h1>Order List</h1>
{% for order in orders %}
<li>
    <a href="{{ url_for('html.order_detail', order_id=order.id) }}">View details</a>
    <span>Order ID: {{ order.id }}</span>
    <ul>
        <span>Customer ID: {{ order.customer_id }}</span>
        <span>Charged Price: {{ order.total|round(2) }}</span>
        <span>Order Date: {{ order.created }}</span>
        <span>Processed: {{ order.processed }}</span>
    </ul>
</li>
<form method="POST" action="{{ url_for('html.order_delete', order_id=order.id) }}">
    <button type="submit">Delete</button>
</form>
<form method="POST" action = "{{ url_for('html.order_process_web', order_id=order.id) }}">
    <button type="submit">Processed</button>
</form>
{% endfor %}
{% endblock %}