{% extends "base.html" %}

{% block content %}

<h1>Login</h1>

<form method="post" action="{{ url_for('auth.login_post') }}">    
    <div class="form-align">
        <div class="form-label">
            <p class="gap">Email</p>
            <input type="email" name="email" placeholder="Your Email" autofocus="">
        </div>
        <div class="form-label">
            <p>Password</p>
            <input type="password" name="password" placeholder="Your Password">
        </div>
        <div class="form-label">
            <label class="checkbox">
                <input type="checkbox" name="remember" value="Remember me">
                Remember Me
            </label>
        </div>
        <br>
        <!-- <small>Forget Password?</small><br> -->
        <input type="submit" value="Login">
    </div>
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
{% endblock %}  