{% extends "base.html" %}

{% block content %}

<h1 class="title">Sign Up</h1>

<form method="POST" action="{{ url_for('auth.signup') }}">
    <div class="form-align signup">
        <div class="form-label">
            <p class="gap">Email</p>
            <input type="email" name="email" placeholder="Email" autofocus="" required>
        </div>
        <div class="form-label">
            <p>Username</p>
            <input type="text" name="name" placeholder="Name" autofocus="" required>
        </div>
        <div class="form-label">
            <p>Password</p>
            <input type="password" name="password" placeholder="Password"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                title="Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, one number, and one special character."
                required>
        </div>
        <br>
        <small>Already Signed up? <a href="{{ url_for('auth.login') }}">Login</a></small>
        <br>
        <input type="submit" value="Sign Up" class="button">
    </div>
</form>


{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
</div>
{% endif %}
{% endwith %}
{% endblock %}